//invocamos a las variables 
@use 'variables' as Var;
@use 'mixins';

//detalles dentro de las imagenes
.details{
    padding: 24px;
    //nombre de la empresa
    &__company{
        color:Var.$Orange;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    //titulo o nombre del producto
    &__title{
        font-size: 1.7em;
        margin-bottom: 16px;
    }
    //parrado de la descricción
    &__description{
        font-size: 0.94em;
        color:Var.$Dark-grayish-blue;
        line-height: 24px;
        margin-bottom: 24px;
    }
    //precios 
    &__prices{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        align-items: center;
    }
    //precio actual
    &__now{
        font-size: 1.8em;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 1.8rem;
    }
    //precio de descuento
    &__discount{
        font-size: 0.5em;
        background-color: Var.$Pale-orange;
        color: Var.$Orange;
        padding: 4px;
        border-radius: 4px;
    }
    //precio anterior
    &__before{
        font-weight: 700;
        color: Var.$Dark-grayish-blue;
        text-decoration: line-through;
    }
    //boton del precio
    &__button{
        @include mixins.button;
    }
    //apartado responsive
    @media (min-width: 1115px){
        padding-top: 60px;
        w446px
        //titulo
        &__title{
            font-size: 2.7em;
            margin-bottom: 48px;
        }
        //descriccion
        &__description{
            font-size: 0.9em;
            margin-bottom: 37px;
        }
        //precios
        &__prices{
            flex-direction: column;
            align-items: flex-start;
        }
        //producto
        &__product-quantity{
            display: flex;
            gap: 32px;
        }
    }
    
}