@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap');
/*pagina principal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.headerproductos {
margin: 100%;
}

.headerindex {/*imagen de fondo en el header*/    
    background-image: url(imagenes/fondo_blacklabel.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center; 
    
}

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 700;/*fuente de 700 limite*/
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color:#fffdfc;
    display: block;
    font-weight: 600;/*Fuente de 600*/
}

.menu .navbar ul li a:hover {
    color:#414247;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;  
}

.header-content {
    text-align: center;
    
}

.header-content h1 {
    font-size: 56px;
    line-height: 80px;
    text-shadow: #000000;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(0, 55, 72);
    opacity: 49%;
    border-color: #ffffff;
    
}

.header-content p {
    font-size: 42px;
    color: #ffffff;
    padding: 0px 250px;
    margin-bottom: 25px;
    
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: black;
    color:white;
    text-transform: uppercase;
    text-align: "center";
    font-size: 12;
    opacity: 100;
    font-family: Open Sans;
    border-radius: 25px;
    border: #ffffff;

} 

.btn-1:hover {
    background-color:gray;
}

.BlackLabel {
    padding: 100px 0;
    position: relative;
    
}

.BlackLabel-content {
    text-align: center;
    
}

.BlackLabel-content h2 {
    font-size: 55px;
    line-height: 70px;
    color:#323337;
    text-transform: uppercase;
    padding: 0px 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 20px;
    color: #414247;
    padding: 0px 0px;
    margin-bottom: 35px;
}

.BlackLabel-group {
    display:list-item;
    justify-content: space-between;
    margin-bottom: 50px;
}

.BlackLabel-1 {
    padding: 0px 25px;
}

.BlackLabel-1 img {
    width: 100px;
}

.BlackLabel-img {
    position: absolute;
    top: 360px;
    width:100%;
    height:37%;
    z-index: 2;
}

.BlackLabel-1 h3{
    color:#323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),
    url(img/wp6798549.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
}

.services-content{
 text-align: center;
}

.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color:#F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1{
    padding: 0px 100px;
}

.services-1 img{
    width: 105px;
    margin-bottom: 15px;
}

.services-1 h3{
    color:#E1E2E6;
    font-size: 18px;
}

.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2{
    background-image: url(img/reynisfjara-black-sand-beach-waves-aerial-view-ocean-iceland-3992x2992-1332.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3{
    background-image: url(img/reynisfjara-black-sand-beach-waves-aerial-view-ocean-iceland-3992x2992-1332.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color:#323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0px 45px 0px;
}

.blog{/*apartados blog*/
    padding: 100px 0px;
    text-align: center;
}

.blog-content{
    display: flex;
    justify-content: space-between;
}

.blog-1{
    padding: 15px 55px;
}

.blog-1{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3{
    font-size: 25px;
    color:#323337;
}

.footer{
    padding: 100px 0px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/129/383/non_2x/smear-of-black-paint-on-a-white-panoramic-background-vector.jpg");
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color:white;
    margin-bottom: 15px;
}

.link a{ 
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

/*estilos para el footer de la pagina de los productos*/

.footer2 {
    padding: 30px;
}

.footer-content2{
    flex-direction: column;
    text-align: center;
}

.footer2 {
    padding: 100px 0;
    background-color: black;
}
.footer-content2 {
    display: flex;
    justify-content: space-between;
}
/* Aparatado para el  slider de la pagina de los productos*/
.sectionslider{
    display: flex;
    min-height: 100vh;
    background: #EFC076;
}
.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    position: relative;
}
.slider{
    display: flex;
    width: 400%;
    height: 400px;

}
.slider__section{
    width: 100%;

}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}

/*estilos de la cedezera respoosive fija de la pagina de los prodcutos*/
.bodyproductos {
    height: 145vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5),transparent);
    background-size: 100%;
    font-family: 'Source Sans 3', sans-serif;
}

header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
}

.logoproductos {
    height: 60px;;
}

.menu-item {
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color:#F9FAFC;
}

.btnp {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #F9FAFC;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.btnp:hover {
    color: black;
    background-color: white;
}

.menu-item:hover









@media(max-widht:991px){
/*apartado de cabecera */

/*apartado responsive*/

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    
    .mnenu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 300px;
    }

    .header-content p {
        padding: 0;
    }

    .BlackLabel{
        padding: 30px;
    }

    .BlackLabel-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .BlackLabel-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .BlackLabel-img{
        display: flex;
    }

    .services{
        padding: 30px;   
    }

    .services-content p{
        padding: 0; 
    }

    .services-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1{
        margin-bottom: 25px;
    }

    .gnereal{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3{
        display: none;
    }

    .blog{
        padding: 30px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-1{
        padding: 0;
    }

    .footer{
        padding: 30px;

    }
    .footer-content{
        text-align: center;
}

/*Css de los iconos*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 200,
  'opsz' 48
}
.ln{

    height: 5px;
    width: 10%;
    background-color: rgb(0,0,0);
    position: relative;
    top: 45px;
    border-radius: 10px;
}
}