//importamos la variables
@use 'variables' as V;
@use 'mixins';
//apartado de la galeria de la imagenes y sus miniaturas

.gallery{
    //contenedor de la imagen 
    &__image-container{
        height: 300px;
        width: 100%;
        background-position-y: -35px;
        background-image: url(../images/image-product-1.jpg);
        background-size: cover;
    }
    //botones al interior de la imagen (Izquierda)
    &__previus{
      @include mixins.image-btn(190px, -15px, false);
    }
    //botones al interior de la imagen (Derecha)
    &__next{
        @include mixins.image-btn(190px, 350px, false);
    }
    //controles para las miniaturas
    &__thumnails{
        display: none;
        //apartado respondive
        @media (min-width:1115px){
            display: flex;
            justify-content: space-between;
        }
    }
    //miniatura individual
    &__thumnail{
        width: 90px;
        border-radius: 19px;
        padding: 5px;
        &:hover{
            cursor: pointer;
            border: 2px solid V.$Orange;
        }
    }
    @media (min-width: 1115px){
            width: 1000px;
        //control de la imagen 
        &__image-container{
            background-position-y: 0 ;
            border-radius: 16px;
            height: 446px;
            
            margin-bottom: 32px;
        }
    }
}