@use 'initial';
@use 'variables';
@use 'header';
@use 'navbar';
@use 'modal-navbar';
@use 'gallery';
@use 'details';
@use 'input';
@use 'modal-cart';
@use 'gallery-modal';
/*iniciamos con el contenedor general*/

.main-container{
    width: 375px;
    margin: auto;
    position: relative;
    /*nesting del apartado resposinve*/
    @media (min-width: 1115px){
            width: 1115px;
        } 
}
// contenedor general
.content{
    @media (min-width: 1115px){
        display: flex;
        padding: 90px 50px;
        gap: 124px;
    }
}
//eventos visuales dentro 
.show{
    display: block;
}

