@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*apratado de la pagina principal*/
body {
    font-family: 'Source Sans 3', sans-serif;
}

.conteiner {/*funciona para la ubicación del contenido de la pagina se vea centrado*/
    max-width: 1200px;
    margin: 0 auto;
}

.headerindex {/*imagen de fondo en el header*/    
    background-image: url(imagenes/fondo_blacklabel.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center; 
}

.menu {/*funciona para la ubicación del menu de inicio de seseion*/
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {/*visualiza el logo de la pagina*/
    color: #fffdfc;
    text-align: center;
    font-size: 25px;
    font-weight: 700;/*fuente de 700 limite*/
}

.menu .navbar ul li {/*posición del los iconos de la parte superior*/
    position: relative;
    float: left;
}

.menu .navbar ul li a {/*estilos en los iconos del menu*/
    font-size: 18px;
    padding: 20px;
    color:#fffdfc;
    display: block;
    font-weight: 600;/*Fuente de 600*/
}

.menu .navbar ul li a:hover {/*estilos en los iconos del menu*/
    color:#414247;
}

.header-content {/*aliniacion del boton sobre nosotros*/
    text-align: center;  
}

.header-content h1 {/*estilos de la fuente central*/
    font-size: 70px;
    line-height: 80px;
    text-shadow: #000000;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(0, 55, 72);
    opacity: 85%;
}

.header-content p {/*estilos sobre nosotros*/
    font-size: 39px;
    color: #ffffff;
    padding: 0px 25px;
    margin-bottom: 25px;   
}

.btn-1{/*boton de sobre nosotros*/
    display: inline-block;
    padding: 10px 17px;
    background-color: black;
    color:white;
    text-transform: uppercase;
    text-align: "center";
    font-size: 15;
    opacity: 100%;
    font-family: Open Sans;
    border-radius: 30px;
} 

.btn-1:hover {/*color del boton */
    background-color:gray;
}

.BlackLabel {/*apartado de como funciona*/
    padding: 100px 0;
    position: relative;    
}

.BlackLabel-content {/*el contenido de como funciona*/
    text-align: center;
}

.BlackLabel-content h2 {/*el titulo de como funciona*/
    font-size: 55px;
    line-height: 70px;
    color:#323337;
    text-transform: uppercase;
    padding: 0px 250px;
    margin-bottom: 15px;
}

.txt-p {/*texto en el interior de los apartados*/
    font-size: 20px;
    color: #414247;
    padding: 0px 0px;
    margin-bottom: 35px;
}

.BlackLabel-img {/*imagen del degradado*/
    position: absolute;
    top: 360px;
    width:100%;
    height:37%;
    z-index: 2;
}

h2{/*titulos dentro de los apartados*/
    font-size: 55px;
    line-height: 70px;
    color:#323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{/*parrafos dentro de los apartados*/
    font-size: 16px;
    color: #414247;
    margin: 25px 0px 45px 0px;
}

.blog{/*apartados blog*/
    padding: 50px 0px;
    text-align: center;
}

.blog-content{/*dirección de los parrafos dentro de los blogs*/
    display: flex;
    justify-content: space-between;
}

.blog-1{/*dimención de los blogs*/
    padding: 15px 55px;
}

.blog-1 h3{/*titulos dentro de los blogs*/
    font-size: 25px;
    color:#323337;
}

.footer{/*estilos del footer de la pagina principal*/
    padding: 100px 0px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/129/383/non_2x/smear-of-black-paint-on-a-white-panoramic-background-vector.jpg");
}

.footer-content{/*contenido del footer*/
    display: flex;
    justify-content: space-between;
}

.link h3 {/*titulos del footer*/
    font-size: 18px;
    color:white;
    margin-bottom: 15px;
}

.link a{/*links que se encuentran dentro del footer*/ 
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}


/*apartado para el estilo de los prodcutos*/
.headerproductos{/*header de la pagina de los prodcutos*/
    margin:auto;
    }

#menuproducto {/*menu del logo*/
    display: none;
}

.footerproductos {/*footer de la pagina de los productos*/
    padding: 100px 0px;
    background-color:#000000;
}

.footerproductos-content{/*contenido del footer*/
    display: flex;
    justify-content: space-between;
}

.link h3 {/*titulos dentro del foorer de los productos*/
    font-size: 18px;
    color:white;
    margin-bottom: 15px;
}

.link a{/*links que se encuentran dentro del footer*/ 
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

/*slider que esta en la pagina de los productos*/
.slidersec{
    display: flex;
    min-height: 100vh;
    /*background: #EFC076;*/
}
.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    position: relative;
}

.slider{
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;

}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}


/*Css de los iconos*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 200,
    'opsz' 48
  }
  .ln{
  
      height: 5px;
      width: 10%;
      background-color: rgb(0,0,0);
      position: relative;
      top: 45px;
      border-radius: 10px;
  }
  .conte{
      width: 100%;
      max-width: 1200px;
      height: 430px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
  }
  .conte .card{
      width: 330px;
      height: 430px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) ;
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0.25s;
  }
  .conte .card:hover{
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  .conte .card img{
      width: 230px;
      height: 220px;
  }
  .conte .card h1{
      font-weight: 600;
  }
  .conte .card p{
    padding: 0 1rem;
    font-size: 16px;  
    font-weight: 300;
  }
  .conte .card a{
      font-weight: 500;
      text-decoration: none;
  }
  a{
      text-decoration: none;
      color: #000000;
  }





































































@media(max-whidth:991px){/*apartado responsive*/

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    
    .mnenu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 300px;
    }

    .header-content p {
        padding: 0;
    }

    .BlackLabel{
        padding: 30px;
    }

    .BlackLabel-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .BlackLabel-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .BlackLabel-img{
        display: flex;
    }

    .services{
        padding: 30px;   
    }

    .services-content p{
        padding: 0; 
    }

    .services-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1{
        margin-bottom: 25px;
    }

    .gnereal{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3{
        display: none;
    }

    .blog{
        padding: 30px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-1{
        padding: 0;
    }

    .footer{
        padding: 30px;

    }
    .footer-content{
        text-align: center;
}
}


