//importamos las variables y los mixins
@use 'variables' as V;
@use 'mixins';

.cart-modal{
    display: none;
    width: 360px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px;
    position: absolute;
    top: 75px;
    right: 6px;
    background-color: V.$White;
    //titulo
    &__title{
        font-weight: 700;
        padding: 24px 24px;
        border-bottom: 1px solid V.$Grayish-blue;
    }
    //contenedor principal
    &__chekout-container{
        padding: 24px;
    }
    //detalles del contenedor
    &__details-container{
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        justify-content: space-between;
        color: V.$Dark-grayish-blue;
    }
    //control de laimagen
    &__image{
        width: 50px;
        height: 50px;
        border-radius: 4px;
    }
    //precios
    &__price span{
        color: V.$Black;
        font-weight: 700;
    }
    //icono de eliminar o vaciar
    &__delete:hover{
        cursor: pointer;
    }
    //boton de chekeo
    &__chekount{
        @include mixins.button;
    }
}