@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap');

$Orange: hsl(201, 88%, 25%);
$Pale-orange: hsl(25, 78%, 82%);
$Very-vark-blue:hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue:hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(229, 23%, 86%);
$White:hsl(0, 0%, 100%);
$Black:hsl(0,0,0);
$Black-modal:hsl(0,0%,0%,0.5);
$Font:'PT Sans',sans-serif;


