/*INVOCAMOS LAS VARIABLES*/
@use'variables' as v;

*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.container__formulario--register{
    width: 100%;
    height: 100%;
    background-image: url(img_fondo_blacklabel.jpg);
    background-position: center; 
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 375px;
    height: 490px;
    position: relative;
    margin: 8% auto;
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgb(8, 80,120);
}
.button-box{
    width: 270px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    justify-content: space-between;
}

.toggle-btn
{
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
    top: 0;
    left: 1px;
    width: 120px;
    background: linear-gradient(to right,rgb(133, 216, 206),rgb(8, 80,120));
    border-radius: 30px;
    transition: 0.8s; 
& a {
    text-decoration: none;
    color:black
}
}

.toggle-btn1
{
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
    top: 0;
    left: 15px;
    width: 120px;
    background: linear-gradient(to right, rgb(8, 80,120),rgb(133, 216, 206));
    border-radius: 30px;
    transition: 0.8s; 
    
}

.toggle-btn1 a
{
    text-decoration: none;
    color:black
}

.redes-sociales
{
    margin: 30px auto;
    text-align: center ;
}

.redes-sociales i
{
    width: 30px;
    margin: 0 5px;
    box-shadow: 0 0 20px 9px #fff;;
    cursor: pointer;
}

.input-group
{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.8s;
}

.input-group .input-field
{
    width: 100%;
    padding: 6px 0;
    margin: 15px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(133,216,206);
    outline: none;
    background: transparent;
}

.input-group .submit-btn
{
    width: 75%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,rgb(133, 216, 206),rgb(8, 80,120));
    border: 0px;
    outline: none;
    border-radius: 30px;
}

.check-box
{
    margin: 30px 10px 30px 0px;
}

span
{
    color: #757575;
    font-size: 12px;
    bottom: 64px;
    position: absolute;
}

#Login
{
    left: 0px;
    top: 99px;
}

#Registrar
{
    left: 0px;
    top: 72px;
}