/*INVOCAMOS LAS VARIABLES*/
@use'variables' as v;

/*estilos para el footer principal*/
.footer
{
    height: 55%;
    padding: 100px 100px;
    background-image:url("img_footerBlackLabel.jpg");
    /*contenido del footer*/
    &__content{
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    }
    /*titulos del footer*/
    &__link h3 {
    font-size: 18px;
    color:white;
    margin-bottom: 15px;
    }
    /*links que se encuentran dentro del footer*/ 
    &__link a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    }
}