/*invocamos las variables*/
@use 'variables' as v;

/*ESTILOS EN EL CONTENEDOR PRIMARIO*/
.header{
        text-align: center;
        align-items: center;
        background-image: url(img_fondo_blacklabel-min.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        display: flex;
        min-height: 70vh;
    /*estilos menu*/
    &__menu{
        align-items: center;
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        justify-content: space-between;
     & a{
            color: v.$White;
        &:hover{
                cursor: pointer;
                color: v.$PrincipalTransition;
        }
     }
    }
    /*estilos logo0*/
    &__logo{
        color:v.$White;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }
    /*estilos en el navbar*/
    &__navbar ul li {
        position: relative;
        float: left;
    }
    &__navbar ul li a{
        font-size: 18px;
        padding: 16px;
        color:v.$White;
        display: block;
        font-weight: 400;
    /*estilos hover*/
        &:hover{
        color: v.$Principal;
        }
    }
    /*estilos parte media del header*/
    &__medio h1 {    
        font-size: 80px;
        line-height: 90px;
        color:v.$White-light;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-family:'Times New Roman', Times, serif;
        text-align: center;
        background-color:v.$PrincipalOpacity;
    }
    /*parrafo al interior*/
    &__medio p {
        font-size: 39px;
        color:v.$White;
        margin-bottom: 25px;
    }
    /*estilos para el boton*/
    &__btn-1{
        background-color:v.$Principal;
        padding: 10px 15px; 
        color:v.$White;
        text-transform: uppercase;
        font-size: 18px;
        font-family: Open Sans;
        border-radius: 30px;
        /*estilos hover en el boton*/
        &:hover{
        background-color:v.$Principal-light;
        }
    }
    /*estilos para la imagen*/
    &__img {
        position: absolute;
        top: 400px;
        width:100%;
        height:30%;
        z-index: 2;
        padding-bottom: 1rem;
    }
}
/*contenedor del medio*/
.informacion{
        margin-top: 5%;
        margin-bottom: 2%;
        position: relative;
        padding: 200px 100px;
        text-align: center;
    /*contenido al interior*/
    &__content{
        text-align: center;
    }
    /*titulos */
    &__titulo--primario{
        font-size: 70px;
        line-height: 70px;
        color:v.$Titulo;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    /*textos en el interior*/
    &__txt{
        padding-top: 1.8rem;
        font-size: 25px;
        font-weight: 700;
        color: v.$Texto;
        margin-bottom: 35px;
    }
    /*contenedor de dirección*/
    &__blog--content{
        display: flex;
        justify-content: space-between;
    }
    &__blog--descripccion{
        padding: 1px 25px;
    }
    &__titulo--segundario{
        font-size: 22px;
        padding-bottom: 1rem;
        color:v.$TituloNiveles;
    }
    &__txt--complementaria{
        font-size: 18px;
    }
    /*separador*/
    &__separador{
        height: 5px;
        width: 15%;
        background-color: rgb(0,0,0);
        position: relative;
        top: 105px;
    }
}