/*invocamos las variables*/
@use 'variables' as v;

.Blog{
    background-color:v.$Fondo;
&__Header--Blog{
        background: linear-gradient(180deg,rgba(43,42,48,0.5)70%,rgba(45,44,50,1)400%),url(img_fondo_blacklabel.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        min-height: 70vh;
    }
&__Menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    &--Logo{
            color: v.$White;
            font-size: 25px;
            font-weight: 800;
        &:hover{
            color: v.$PrincipalTransition;
            }
        }
    &--Navbar  ul{
            position: relative;
            float: left; 

        }
    &--Navbar li{
            position: relative;
            float: left; 
            &:hover{
                border-bottom:5px solid v.$PrincipalTransition ;
            }
        }    
    &--Navbar a {
            font-size: 18px;
            padding: 20px;
            color: v.$White;
            display: block;
            font-weight: 600;
        &:hover{
                color: v.$PrincipalCover;
            }
        }
    &--icono{
                width: 30px;
        }
    }
#Blog__Menu--menu{
        display: none;
    }
& label{
        cursor: pointer;
        display: none;
     }
}
.Header__Content{
&--Text{
            padding-top: 2rem;
            width: 50%;
        & h1{
                font-size: 110px;
                color: v.$TituloDestacado;
        }
        & p{
                font-size: 16px;
                color:v.$ParrafoColor;
        }
    }
&--Enlace-1{
        display: inline-block;
        padding: 13px 35px;
        background-color:v.$PrincipalTransition;
        color: v.$White;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 35px;
        border: 0;
        cursor: pointer;
    &:hover{
            background-color: v.$Principal;
        }
    }
}
