/*incluimos las  varialbles*/
@use 'variables' as v;

.wrap{
    max-width: 1500px;
    width: 100%;
    height: 100%;
    margin: auto;
& h1{
        color:#494b4d;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 15px 0px;
    &::after{
            content: '';
            width: 100%;
            height: 1px;
            background: #c7c7c7;
            margin: 20px 0;
        }
    }
&__store-wrapper{
        display: flex;
    &--category_list{
            display: flex;
            flex-direction: column;
            width: 20%;
        &--Item{
                display: block;
                width: 90%;
                padding: 15px 0;
                margin-bottom: 20px;
                background:firebrick;
                color: white;
                text-align: center;        
            }
        }
    &--products-list{
            width: 80%;
            display: flex;
            flex-wrap: wrap;
        &--item{
                width: 20%;
                margin-left: 3%;
                margin-bottom: 25px;
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: flex-start;
            & img{
                    width: 100%;
                }
            & a{
                display: block;
                width: 100%;
                padding: 8px 0px;
                background: hsl(211, 28%, 25%);
                text-align: center;
                color: white;
                font-size: 20px;
                }
            }
        }
    }
}
.active{
    background-color: hsl(211, 28%, 25%);
}

/*apartado dos
.almacen{
    max-width: 1400px;
    padding: 10px ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
&-elements{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 30px;
        grid-row-gap:30px ;
        width: 60%;
        transition:  .3s;
    & .element{
            max-width: 200px;
            padding: 10px;
            margin: auto;
            border: 1px solid  #666;
            border-radius: 10px;
            padding: 20px;
            transition: .3s;
        &:hover{
                box-shadow: 0 0 1px #666;
                scale: 1.05;
        }
    & .img-element{
            width: 100%;
            }
    & .titulo-element{
            display: block;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            }
    & .precio-element{
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 22px;            
            }
    & .boton-element{
            display: block;
            margin: 10px;
            border: none;
            background: black;
            color: v.$White;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            }
        }
    }
}
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
& .header-carrito{
    background-color: #000;
    color: v.$White;
    text-align: center;
    padding: 30px 0;
    }
& .carrito-item{
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid #666;
        padding: 20px;
    & img{
            margin-right: 20px;
        }
    &-titulo{
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: v.$White;
        }
    & .selector-cantidad{
            display: inline-block;
            margin-right: 25px;
        & i{
                border: 1px solid black;
                font-size: 18px;
                width: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 50%;
            }
        }
    &-cantidad{
            border: none;
            font-size: 18px;
            background: transparent;
            display: inline-block;
            width: 30px;
            padding: 5px;
            text-align: center;
        }
    &-precio{
            font-weight: bold;
            display: inline-block;
            font-size: 18px;
            margin-bottom: 5px;
        }
    & .btn-eliminar{
            border: 1px solid #000;
            position: absolute;
            right: 15px;
            top: 15px;
            color: #000;
            width: 40px ;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            background: transparent;
            z-index: 20;
        & i{
                pointer-events: none;
            }
        }
    }
    & .carrito-total{
        background-color: #f3f3f3;
        padding: 30px;
    & .fila{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
& .btn-pagar{
        display: block;
        width: 100%;
        border: none;
        background: black;
        color: white;
        border-radius: 5px;
        font-size: 18px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: .3s;
        &:hover{
            scale: 1.05;
        }
    }
}
@media screen and (max-width:850px){
    .almacen{
        display: block;
    }
    .almacen-elements{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
}
*/
