@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap');
*{/*reset all body*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/*APARTADO DE LA PAGINA PRICIPAL--------------------------------------------------------------------------------------------------------------------*/
/*apratado de la pagina principal*/
body {
    font-family: 'Source Sans 3', sans-serif;/*tipo de fuentes*/
}

/*funciona para la ubicación del contenido de la pagina se vea centrado*/
.container 
{    
    max-width: 1200px;/*dirección de los contenidos*/
    margin: 0 auto;/*margen de los contenidos generales*/
}

/*
Control del header de la pagina principal
    En este aparatado podemos encontrar lo estilos que se encuentran en la pagina prncipal, en donde principalmente
    principalmente podemos modificar los parametros de la imagen de la cabecera.
*/
.headerprincipal
{
    align-items: center;/*pocisión de los elemntos que se encuentran en la paginan principal*/
    background-image: url(../imagenes/fondo_blacklabel.jpg);/*Imagen de fondo*/
    background-position: center bottom;/*pocisión de la imagen*/
    background-repeat: no-repeat;/*número de imagen*/
    display: flex;/*dirección del contenido que se encuentra en el header*/
    min-height: 70vh;/*Tamaño que tiene la imgan de arriba abajo*/
}

/*menú de herramientas que se encuentran en el header*/
.menu 
{
    align-items: center;/*pocisión de las herramientas del menú*/
    display: flex;/*dirección de las herramientas*/
    position: absolute;/*posición que ocupan*/
    top: 0px;/*dirección arriba */
    left: 0px;/*dirección izquierda */
    right: 0px;/*dirección derecha*/
    justify-content: space-between;/*espacio entre las herramientas*/
}

/*estilos del logo de la pagina(BlackLabel)*/
.logo
{   
    color: #fffdfc;/*Color del logo*/
    text-align: center;/*Posición del logo*/
    font-size: 25px;/*Tamaño de la fuente del logo*/
    font-weight: 700;/*fuente de escritura*/
}

/*posición del los iconos de la parte superior*/
.menu .navbar ul li 
{
    position: relative;/*orden de aparición*/
    float: left;/*posición en filas o columnas*/
}

/*estilos en los iconos del menu*/
.menu .navbar ul li a 
{
    font-size: 18px;/*tamaño de la fuente*/
    padding: 16px;/*espacio entre caracteres*/
    color:#fffdfc;/*color de las letras e iconos*/
    display: block;/*control de margenes*/
    font-weight: 600;/*Fuente de 600*/
}

/*estilos en los iconos del menu*/
.menu .navbar ul li a:hover {color:rgb(0,58 ,75 )}/*color cuando el cursor pasa por encima*/

/*aliniacion del boton sobre nosotros*/
.header-content {text-align: center;}

/*estilos de la fuente central*/
.header-content h1 
{
    font-size: 80px;/*tamaño de letra*/
    line-height: 90px;/*control de margen*/
    color: rgb(255, 255, 255);/*color del enunciado titular*/
    text-transform: uppercase;/*letras en mayúsculas*/
    margin-bottom: 5px;/*margen entre elementos*/
    font-family:'Times New Roman', Times, serif;
    text-align: center;/*aliniación de los elementos*/
    background-color: rgba(0, 58, 75,85%);/*controles de tonos del titulo*/
}

/*estilos para el eslogan*/
.header-content p 
{
    font-size: 39px;/*tamaño de letras*/
    color:#ffffff;/*color de la fuente*/
    margin-bottom: 25px;/*separación entre los elmentos*/  
}

/*Boton de sobre nosotros*/
.btn-1
{
    background-color:rgb(0,58 ,75 );/*color de fondo del boton*/
    padding: 10px 15px;/*tamaño del fondo de color*/
    color:white;/*color de las letras*/
    text-transform: uppercase;/*letra mayúsculas*/
    font-size: 18px;/*tamaño de la letra del boton*/
    font-family: Open Sans;/*fuente*/
    border-radius: 30px;/*borde en circulo*/
} 

/*color del boton */
.btn-1:hover {background-color:gray;}

/*imagen del degradado*/
.BlackLabel-img 
{
    position: absolute;
    top: 400px;
    width:100%;
    height:30%;
    z-index: 2;
}

/*APARTADO DE COMO FUNCIONA--------------------------------------------------------------------------------------------------------------------------*/

/*apartado de como funciona*/
.BlackLabel 
{
    padding: 100px;/*espacio entre los elemtos*/
    position: relative;/*posición entre los elementos*/    
}

/*el contenido de como funciona*/
.BlackLabel-content {text-align: center;}/*aliniación de los parrafos*/

/*titulos al interior de la sección de como funciona */
.BlackLabel-content h2 
{
    font-size: 70px;/*tamaño de la letra*/
    line-height: 70px;/*espaciado entre las partes de un tutílo*/
    color:#323337;/*color del texto*/
    text-transform: uppercase;/*letras en mayúsculas*/
    padding: 5px 20px;/*margen entre los elementos*/
    margin-bottom: 15px;/*margen de separación*/
}

/*titulo beneficios de BlackLabel*/
h2{
    font-size: 70px;/*temaño de la letra*/
    line-height: 70px;/*espaciado entre los elementos*/
    color:#323337;/*color del texto*/
    text-transform: uppercase;/*letras en mayúsculas*/
    margin-bottom: 15px;/*margen entre los textos*/
}

/*texto que se encuentra debajo del título como funciona*/
.txt-p 
{
    font-size: 20px;/*Parrafo de descripción del apartado*/
    color: #414247;/*color del texto*/
    margin-bottom: 35px;/*margenes de los elemetos*/
}

/*parrafos dentro de los apartados*/
p
{    
    color: #414247;/*color del texto*/
    margin: 40px 0px 45px 0px;
}

/*APARTADO DE LOS BLOGS------------------------------------------------------------------------------------------------------------------------------------------------*/
/*apartados blog*/
.blog
{
    padding: 20px 10px;/*Margenes entre los parrafos*/
    text-align: center;/*aliniación de los parrafos*/
}

/*dirección de los parrafos dentro de los blogs*/
.blog-content
{
    display: flex;/*dirección de los parrafos*/
    justify-content: space-between;/*espacio entre los parrafos*/
}

/*dimención de los blogs*/
.blog-1
{padding: 5px 25px;}/*espacio que ocupan los textos*/

/*titulos dentro de los blogs*/
.blog-1 h3
{
    font-size: 22px;/*tamaño de letra*/
    color:#323337;/*color de la letra*/
}

.blog-1 p{
    font-size: 17px;
}

/*INICO DEL FOOTER PAGINA PRINCIPAL--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*estilos del footer de la pagina principal*/
.footer
{
    padding: 100px 100px;/*controles de dirección de la imagen que se encuentra en el footer de la pagina principal*/
    background-image:url("../imagenes/footerBlackLabel.jpg");/*imagen para el footer de la pagina principal*/
}

/*contenido del footer*/
.footer-content
{
    display: flex;/*dirección del contenido */
    justify-content: space-between;/*espadiado en el contenido del footer*/
}

/*titulos del footer*/
.link h3 
{
    font-size: 18px;/*tamaño de la letra en el footer*/
    color:white;/*color del texto*/
    margin-bottom: 15px;/*margen entre los elementos*/
}

/*links que se encuentran dentro del footer*/ 
.link a
{
    font-size: 16px;/*tamaño de la letra*/
    color: #c5c5c5;/*color de los links*/
    display: block;/*dirección de los links*/
    margin-bottom: 15px;/*margen entre los links */
    text-align: center;/*dirección de los links*/
}

.ln{
  
    height: 5px;/*dirección hacia lo ancho*/
    width: 15%;/*dirección hacia lo alto*/
    background-color: rgb(0,0,0);/*imaen de fondo*/
    position: relative;/*posición*/
    top: 105px;/*ubicación hacia arriba*/
}

/*APARTADO RESPOSIVE-------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------*/
@media(max-whidth:991px){

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    
    .mnenu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 300px;
    }

    .header-content p {
        padding: 0;
    }

    .BlackLabel{
        padding: 30px;
    }

    .BlackLabel-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .BlackLabel-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .BlackLabel-img{
        display: flex;
    }

    .services{
        padding: 30px;   
    }

    .services-content p{
        padding: 0; 
    }

    .services-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1{
        margin-bottom: 25px;
    }

    .gnereal{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3{
        display: none;
    }

    .blog{
        padding: 30px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-1{
        padding: 0;
    }

    .footer{
        padding: 30px;

    }
    .footer-content{
        text-align: center;
}
}