@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border-style: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Source Sans 3', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(ima/playa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: gray;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px; 
}

.menu label {
    cursor: pointer;
    display: none;

}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color:#F9FAFC ;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content i {
    font-size: 46px;
    color:#c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display:inline-block;
    padding: 11px 35px;
    background-color: #000000;
    color:#F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover {
     background-color:#231e1e;
}

.BlackLabel {
    padding: 100px 0px;
    background-color: #e1e2e6;
    position: relative;
}

.BlackLabel-content {
    text-align: center;
}

.BlackLabel-content h2 {
    font-size: 60px;
    line-height: 75px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.BlackLabel-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.BlackLabel-1 {
    padding: 0 25px;
}

.BlackLabel-1 img {
    width: 200px;
}

/*.BlackLabel-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
} imagen de fondo en la parte de como fuciona colocar una imagen en svg*/

.BlackLabel-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;

}

.services{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(ima/wp6798549.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: whitesmoke;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250 100px 100px;
    background-color: #e1e2e6;
}

.general-2 {
    background-image: url(ima/playa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    
}

.general-3 {
    background-image: url(ima/playa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0 ;
}

.blog {
    padding: 100px 0px;
    text-align: center;

}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;

}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;
}

.footer {
    padding: 100px 0;
    background-color: black;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .BlackLabel {
        padding: 30px;
    }

    .BlackLabel-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .BlackLabel-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .BlackLabel-img {
        display: none;
    }

    .services {
        padding: 30px;
    }
    
    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}