/*apartado para el estilo de los prodcutos-----------------------------------------------------------------------------------------------------------*/
/*header de la pagina de los prodcutos*/
.headerproductos{margin:auto;}

/*menu del logo*/
#menuproducto {display: none;}/*dirección del menú*/

/*apartado de la cabecera*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans',sans-serif;
}
.headerprod{
    width: 100%;
    height: 0vh;
    background-position: center;
    background-size: cover;

}
.navprod{
    width: 100%;
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.5s ease;
    position: fixed;
}
.navprod.active{
    background: #fff;
    padding: 15px;
}
.navprod.active .logoprod,
.navprod.active a{
    color: #000;
}

.navprod.active a:hover{
    background: #000;
    color: #fff;
}
.logoprod{
    font-size: 25px;
    color:#fff;
    font-weight: 100;
}

/*menu desplegable*/
.ul-second {
    position: absolute;
    display: none;
    transform: translateY(8px);

}

.ul-second li {
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 10px;
    width: 125px;
    transform: translateX(-13px);
    padding: 10px;
}

.ul-second li:hover {
    background-color: #000;
}

.categorias:hover .ul-second {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease
}

.ul-second li
{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.ul-second li:hover 
{
    padding: 9px 15px;
    background:#fff;
    color: #000;;
    border-radius: 20px;
}

/*menu de herramientas */
.menuprod {
    display: flex;
    
}
.menuprod li {
    list-style: none;
    margin: 13px;
}
.menuprod li a {
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menuprod li a:hover {
    padding: 6px 15px;
    background:#fff;
    color: #000;;
    border-radius: 20px;
}
.scrol{
    height: 100px;
}
