/*apartado para el estilo de los prodcutos-----------------------------------------------------------------------------------------------------------*/
/*header de la pagina de los prodcutos*/
.headerproductos{margin:auto;}

/*menu del logo*/
#menuproducto {display: none;}/*dirección del menú*/

/*apartado de la cabecera*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans',sans-serif;
}
/*heaber nuevo*/
:root
{
    --primary-color: #c7a17a;
    --background-color:#f9f5f0;
    --dark-color:#000;
}

html
{
    font-size: 62.5%;
    font-family:sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILIDADES*/

.container 
{
    max-width: 120rem;
    margin: 0 auto;

}

/*HEADER*/

.container-hero
{
    background-color: var(--dark-color);
}

.hero
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    color: #fff;
}

.customer-support
{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i 
{
    font-size: 3.3rem;
    color: white;
}

.content-customer-support
{
    display: flex;
    flex-direction: column;
}

.container-logo
{
    display: flex;
    align-items: center;
    gap: .5 rem;
}

.container-logo i 
{
    font-size: 3rem;
    color: #fff;
}

.container-logo h1  a
{
    text-decoration: none;
    color:white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user
{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    color: #fff;
}

.container-user .fa-user
{
    font-size: 3rem;
    color:white;
    padding-right: 2.5rem;
   
}

.container-user .fa-list
{
    font-size: 3rem;
    color:white;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping
{
    font-size: 3rem;
    color: white;
    padding-left: 1rem;
}

/*APARTADO CARRITO*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
} 

a {
    text-decoration: none;
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

.main {
    background-color: var(--clr-white);
    font-family: 'Rubik', sans-serif;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
    font-size: 17px;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}


/** CARRITO **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}



@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}

/*NAVBAR*/