@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans',sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul
{
    margin: 0;
    padding: 0;
}

ul
{
    list-style: none;
}

a
{
text-decoration: none;
}

/*heaber nuevo*/
:root
{
    --primary-color: #c7a17a;
    --background-color:#f9f5f0;
    --dark-color:#000;
    --clr-main:#4b33a8;
    --clr-white:#ececec;
    --clr-gray:#e2e2e2;
    --clr-red:#961818;
}

html
{
    font-size: 62.5%;
    font-family:sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILIDADES*/

.container 
{
    max-width: 120rem;
    margin: 0 auto;

}

/*HEADER*/

.container-hero
{
    background-color: var(--dark-color);
}

.hero
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    color: #fff;
}

.customer-support
{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i 
{
    font-size: 3.3rem;
    color: white;
}

.content-customer-support
{
    display: flex;
    flex-direction: column;
}

.container-logo
{
    display: flex;
    align-items: center;
    gap: .5 rem;
}

.container-logo i 
{
    font-size: 3rem;
    color: #fff;
}

.container-logo h1  a
{
    text-decoration: none;
    color:white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user
{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    color: #fff;
}

.container-user .fa-user
{
    font-size: 3rem;
    color:white;
    padding-right: 2.5rem;
   
}

.container-user .fa-list
{
    font-size: 3rem;
    color:white;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping
{
    font-size: 3rem;
    color: white;
    padding-left: 1rem;
}

/*Contenido del carrito-----------------------------*/

.wraper
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color:var(--clr-main);
}

aside
{
    padding: 3rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Botones del carrito enlazados*/
.boton-volver
{
    color:white;
    font-size: 1.5rem;
}

.menu 
 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

 .boton-menu,.boton-carrito
 {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1.50rem;
    width: 100%;
    position: relative;
}

/*pseudoelementos de borde saliente*/
.boton-menu.active::before
{
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: .55rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after
{
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    border-top-right-radius: .55rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

 .boton-menu.active 
 {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem ;
}

 /*Iconos de las manos*/
.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb
 {
    transform: rotatez(90deg);
 }

/*Boton del carrito*/
.boton-carrito
{
    margin-top: 2rem;
}
/*numero de produtos en el carro*/ 
.number
{
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

/*Apartado lateral de los productos----------------- */
main
{
    background-color: var(--clr-white);
    margin: 1rem;
    border-radius: 1rem;
    padding: 3rem;
    margin-left: 0;
}

.titulo-principal
{
    color: var(--clr-main);
    margin-bottom: 2rem;
    font-size: 3rem;
}
/*Contenedor para los productos*/
.contenedor-productos 
{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 1rem;
}
/*Control de las imagenes de los productos que se presentan*/

.producto-imagen
{
    max-width:100% ;
    border-radius: 1rem;

}
/*detalles del producto*/
.producto-detalles
{
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.producto-titulo
{
    font-size: 2rem;
}

.producto-precio
{
    font-size:1.5rem;
}
/*boton de agragar producto*/
.producto-agregar
{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: .2rem solid var(--clr-white);
    transition: background-color .2s, color .2;
}

.producto-agregar:hover
{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

/*------------------------------------------------------Carrito----------------------*/
.contenedor-carrito
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado
{
    color: var(--clr-main);
    font-size: 2rem;
}

.carrito-productos 
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 2rem;
    border-radius: 1rem;
}

/*small al interior del carrito de compras*/
.carrito-producto small
{
    font-size: 2.20rem;
}
/*Parrafos al interior del carrito de compras*/
.carrito-producto p
{
    font-size: 1.5rem;
}

/*botones al interior del carrito (eliminar)*/
.carrito-producto-eliminar
{
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    padding: 3rem;
    cursor: pointer;

}
/*Imagenes al interior del carrito*/
.carrito-producto-imagen
{
    width: 8rem;
    border-radius: 1rem;

}
/*Acciones al interior del carrito*/
.carrito-acciones
{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar 
{
    margin-top: 3rem;
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha 
{
    display: flex;
}

.carrito-acciones-total 
{
    margin-top: 3rem;
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-total 
{
    text-transform: capitalize;
    font-size: 1.5rem;
}

.carrito-acciones-comprar 
{
    margin-top: 3rem;
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/*Ocultal el contenido*/
.disabled
{
    display: none;
}









 /*apartado del footer*/
 .texto-footer
 {
     color:var(--clr-main-light);
     font-size: 2rem;
 }