/*apartado para el estilo de los prodcutos-----------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap');
/*header de la pagina de los prodcutos*/
.headerproductos{margin:auto;}

/*menu del logo*/
#menuproducto {display: none;}/*dirección del menú*/

/*apartado de la cabecera*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans',sans-serif;
    
}
/*heaber nuevo*/
:root
{
    --primary-color: #c7a17a;
    --background-color:#f9f5f0;
    --dark-color:#000;
    --color: rgb(8, 80,120);
    --color: hsl(201, 88%, 25%);
}

html
{
    font-size: 62.5%;
    font-family:sans-serif;
}

*
/*UTILIDADES------------------------------------------------------------------------------------------------------------------------------*/

.container 
{
    max-width: 120rem;
    margin: 0 auto;

}

.heading-1
{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}
/*HEADER------------------------------------------------------------------------------------------------------------------------------*/

.container-hero
{
    background-color: var(--dark-color);
}

.hero
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    color: #fff;
}

.customer-support
{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i 
{
    font-size: 3.3rem;
    color: white;
}

.content-customer-support
{
    display: flex;
    flex-direction: column;
}

.container-logo
{
    display: flex;
    align-items: center;
    gap: .5 rem;
}

.container-logo i 
{
    font-size: 3rem;
    color: #fff;
}

.container-logo h1  a
{
    text-decoration: none;
    color:white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user
{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    color: #fff;
}

.container-user .fa-user
{
    font-size: 3rem;
    color:white;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-list
{
    font-size: 3rem;
    color:white;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping
{
    font-size: 3rem;
    color: white;
    padding-left: 1rem;
}

.content-shopping-cart
{
    display: flex;
    flex-direction: column;
    color: white;
}

/*NAVBAR------------------------------------------------------------------------------------------------------------------------------*/
.container-navbar
{
    background-color: rgba(0, 58, 75,85%);
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars
{
    display: none;
}

.menu
{
    display: flex;
    gap: 2rem;
}

.menu li 
{
    list-style: none;   
}

.menu a
{
    text-decoration: none;
    font-size: 1.3rem;
    color:#000000;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color:#ffffff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color:#ffffff;
}

/*Incio del formulario de busqueda------------------------------------------------------------------------------------------------------------------------------ */
.search-form
{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}

.search-form input 
{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button
{
    appearance: none;   
}

.search-form .btn-search 
{
    border: none;
    background-color:rgba(0, 58, 75,85%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i  
{
    font-size: 2rem;
    color: #fff;
}
/*slider que esta en la pagina de los productos------------------------------------------------------------------------------------------------------------------------------*/
.slidersec
{
    display: flex;
    min-height: 100vh;
    background-image: url(../imagenes/fondo_blacklabel.jpg);
}

.container-slider
{
    width: 2000px;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff,0 25px 60px;
    position: relative;
    box-shadow: 0px 0px 40px rgb(8, 80,120);
}

.slider
{
    display: flex;
    width: 500%;
    height: 500px;
    margin-left: -100%;
}

.slider__section
{
    width: 100%;
}

.slider__img
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn
{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover
{
    background: #fff;
}

.slider__btn--left
{
    left: 10px;
}
.slider__btn--right
{
    right: 10px;
}

/*Main content--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.main-content
{
    background-color: var(--background-color);/*cambiar por un fondo de color negro*/
}

/*caracteristicas*/
.container-features
{
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-feature
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-feature i 
{
    font-size: 2.7rem;
    color: rgb(8, 80,120);
}

.features-content
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.features-content span
{
    font-weight: 700;
    font-size: 1.2rem;
    color: #151515;
}

.features-content p
{
    color: #777;
    font-weight: 500;
}

/*categorias*/

.top-categories
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.card-category
{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap:2rem;
}

.category-element1
{
    background-image: linear-gradient(#00000080,#00000080), url('../imagenes/monitor.png');
    background-size: cover;
    background-position: bottom;/*cambiar de posición dependiendo del tamaño de la imagen*/
    background-repeat: no-repeat;
}

.category-element2
{
    background-image: linear-gradient(#00000080,#00000080), url('../imagenes/mesaelectronica.png');
    background-size: cover;
    background-position: bottom;/*cambiar de posición dependiendo del tamaño de la imagen*/
    background-repeat: no-repeat;
}

.category-element3
{
    background-image: linear-gradient(#00000080,#00000080), url('../imagenes/switch.jpg');
    background-size: cover;
    background-position: center;/*cambiar de posición dependiendo del tamaño de la imagen*/
    background-repeat: no-repeat;
}

.card-category p
{
    font-size: 2.5rem;
    color: white;
    text-transform: capitalize;
    position: relative;
}

.card-category span
{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category p::after
{
    content: '' ;
    width: 2.5rem;
    height: 0.2rem;
    background-color: white;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%,  50%);
}

.card-category span:hover
{
    color:rgb(8, 80,120);    
}

/*Top productos--------------------------------------------------------------------------------------------------------------*/
.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color: var(--color);
	color: #fff;
}

.container-options span.active {
	background-color:var(--color);
	color: #fff;
}

/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 400ms ease;
}
.card-product:hover
{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translatey(-3%);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
    
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.6s ease;
}

.button-group span {
	border: 1px solid rgb(8, 80,120);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--color);
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--color);
}

.add-cart:hover i {
	color: #fff;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;

	font-size: 1.7rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}
/*imagenes en el interior-------------------------------------------------------------------------------------------------------------------------------------------------¿-*/
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}






/*Apartado de los productos de pagina principal productos------------------------------------------------------------------------------------------------------------------------------*/
.conte
{
    width: 100%;
    max-width: 1100px;
    height: 1px;
    display: flex;
    justify-content: center;
    margin: auto;
   
}

.conte .card
{
    width: 330px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) ;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    border: 10px solid red;
}

.conte .card:hover
{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.conte .card img
{
    padding: 25px;
    width: 200px;
    height: 120px;
}
  
.conte .card h1{font-weight: 600;}
  
.conte .card p
{
    padding: 0 1rem;
    font-size: 16px;  
    font-weight: 300;
}
  
.conte .card a
{
    font-weight: 500;
    text-decoration: none;
}

a
{
    text-decoration: none;
    color: #000000;
}


/*inicio del footer-------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
	background-color:#000;
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
    color: #fff;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color:var(--color);
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}
/*Prebas-------------------------------*/

.cont
{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.cardt
{
    width: 25%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.cardt:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translatey(-3%);
}

.cardt img
{
    width: 100%;
    height: 100%px;
}

.cardt .contenido
{
    padding: 15px;
    text-align: center;

}