/*apartado para el estilo de los prodcutos-----------------------------------------------------------------------------------------------------------*/
/*header de la pagina de los prodcutos*/
.headerproductos{margin:auto;}

/*menu del logo*/
#menuproducto {display: none;}/*dirección del menú*/

/*apartado de la cabecera*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans',sans-serif;
}
.headerprod{
    width: 100%;
    height: 0vh;
    background-position: center;
    background-size: cover;

}
.navprod{
    width: 100%;
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.5s ease;
    position: fixed;
}
.navprod.active{
    background: #fff;
    padding: 15px;
}
.navprod.active .logoprod,
.navprod.active a{
    color: #000;
}

.navprod.active a:hover{
    background: #000;
    color: #fff;
}
.logoprod{
    font-size: 25px;
    color:#fff;
    font-weight: 100;
}

/*menu desplegable*/
.ul-second {
    position: absolute;
    display: none;
    transform: translateY(8px);

}

.ul-second li {
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 10px;
    width: 125px;
    transform: translateX(-13px);
    padding: 10px;
}

.ul-second li:hover {
    background-color: #000;
}

.categorias:hover .ul-second {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease
}

.ul-second li
{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.ul-second li:hover 
{
    padding: 9px 15px;
    background:#fff;
    color: #000;;
    border-radius: 20px;
}

/*menu de herramientas */
.menuprod {
    display: flex;
    
}
.menuprod li {
    list-style: none;
    margin: 13px;
}
.menuprod li a {
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menuprod li a:hover {
    padding: 5px 15px;
    background:#fff;
    color: #000;;
    border-radius: 20px;
}
.scrol{
    height: 100px;
}

/*slider que esta en la pagina de los productos*/
.slidersec
{
    display: flex;
    min-height: 100vh;
    background-image: url(../imagenes/fondo_blacklabel.jpg);
}

.container-slider{
    width: 2000px;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff,0 25px 60px;
    position: relative;
}

.slider{
    display: flex;
    width: 500%;
    height: 500px;
    margin-left: -100%;

}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}

/*Apartado de los productos de pagina principal productos*/
.conte
{
    width: 100%;
    max-width: 1500px;
    height: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.conte .card
{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) ;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.conte .card:hover
{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.conte .card img
{
    width: 230px;
    height: 220px;
}
  
.conte .card h1{font-weight: 600;}
  
.conte .card p
{
    padding: 0 1rem;
    font-size: 16px;  
    font-weight: 300;
}
  
.conte .card a
{
    font-weight: 500;
    text-decoration: none;
}

a
{
    text-decoration: none;
    color: #000000;
}
 
/*contenido del footer*/

/*footer de la pagina de los productos*/
.footerproductos 
{
    padding: 100px 100px;/*margen de control*/
    background-color:#000000;/*color de fondo*/
}

.footerproductos-content
{
    display: flex;/*dirección de los elementos que se encuentran en el footer*/
    justify-content: space-between;/*espaciado del contenido del footer*/
}

/*titulos dentro del foorer de los productos*/
.links h3 
{
    font-size: 18px;
    color:white;
    margin-bottom: 15px;
}
/*links que se encuentran dentro del footer*/
.links a
{ 
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}