@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

/*LLamamos a la clase header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
}
@media (min-width: 1115px) {
  .header {
    height: 112px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
}
.header__navigation {
  width: 175px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header__navigation {
    width: 590px;
  }
}
.header__menu:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
    .header__menu {
    display: none;
  }
}
.header__menu--logo {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 28px;
}
.header__cart-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}
@media (min-width: 1115px) {
  .header__cart-avatar {
    width: 125px;
  }
}
.header__cart {
  position: relative;
}
.header__cart--notification {
  display: none;
  background-color: hsl(201, 88%, 25%);
  width: 15px;
  height: 12px;
  border-radius: 16px;
  position: absolute;
  top: -7px;
  right: -1px;
  font-size: 0.6em;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.header:hover {
  cursor: pointer;
}
.header__avatar {
  width: 24px;
}
@media (min-width: 1115px) {
  .header__avatar {
    width: 48px;
  }
}
.header__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(201, 88%, 25%);
  border-radius: 50%;
}
.navbar {
  width: 400px;
  display: none;
}
.navbar__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar__link {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  display: block;
  height: 112px;
  padding-top: 50px;
}
.navbar__link:hover {
  border-bottom: 4px solid hsl(201, 88%, 25%);
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}
.modal-navbar {
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  height: 100%;
  padding: 28px 24px;
}
.modal-navbar__background {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.modal-navbar__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  list-style: none;
  margin-top: 50px;
}
.modal-navbar__link {
  text-decoration: none;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 1.1em;
}
.modal-navbar__link:hover{
  border-bottom: 4px solid hsl(201, 88%, 25%);
}
.modal-navbar__close-icon:hover {
  cursor: pointer;
}

.gallery__image-container {
    border: 5px solid red;
  height: 600px;
  width: 110%;
  background: center;
  background-position-y: -35px;
  background-image: url(productos/img_laptop1.png);
  background-size: cover;
}
.gallery__previus {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 190px;
  left: -15px;
}
.gallery__previus:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__previus {
    display: none;
  }
}
.gallery__next {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 190px;
  left: 350px;
}
.gallery__next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__next {
    display: none;
  }
}
.gallery__thumnails {
  display: none;
}
@media (min-width: 1115px) {
  .gallery__thumnails {
    display: flex;
    justify-content: space-between;
  }
}
.gallery__thumnail {
  width: 90px;
  border-radius: 19px;
  padding: 5px;
}
.gallery__thumnail:hover {
  cursor: pointer;
  border: 2px solid hsl(201, 88%, 25%);
}
@media (min-width: 1115px) {
  .gallery {
    width: 1000px;
  }
  .gallery__image-container {
    background-position-y: 0;
    border-radius: 16px;
    height: 446px;
    margin-bottom: 32px;
  }
}

.details {
  padding: 24px;
}
.details__company {
  color: hsl(201, 88%, 25%);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.details__title {
  font-size: 1.7em;
  margin-bottom: 16px;
}
.details__description {
  font-size: 0.94em;
  color: hsl(219, 9%, 45%);
  line-height: 24px;
  margin-bottom: 24px;
}
.details__prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}
.details__now {
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.details__discount {
  font-size: 0.5em;
  background-color: hsl(25, 78%, 82%);
  color: hsl(201, 88%, 25%);
  padding: 4px;
  border-radius: 4px;
}
.details__before {
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}
.details__button {
  background-color: hsl(201, 88%, 25%);
  width: 100%;
  height: 57px;
  border-radius: 10px;
  border: none;
  color: hsl(0, 0%, 100%);
  font: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.details__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (min-width: 1115px) {
  .details {
    padding-top: 60px;
  }
  w446px .details__title {
    font-size: 2.7em;
    margin-bottom: 48px;
  }
  .details__description {
    font-size: 0.9em;
    margin-bottom: 37px;
  }
  .details__prices {
    flex-direction: column;
    align-items: flex-start;
  }
  .details__product-quantity {
    display: flex;
    gap: 32px;
  }
}

.input {
  height: 57px;
  display: flex;
  justify-content: space-between;
}
.input__minus {
  width: 25px;
  height: 100%;
  padding: 25px 5px;
  cursor: pointer;
}
.input__plus {
  width: 25px;
  height: 100%;
  padding: 20px 6px;
  cursor: pointer;
}
.input__number {
  width: 100%;
  border: none;
  background-color: hsl(229, 23%, 86%);
  font-size: 1.2em;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  outline: none;
  border-radius: 50px;
}

.cart-modal {
  display: none;
  width: 360px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px;
  position: absolute;
  top: 75px;
  right: 6px;
  background-color: hsl(0, 0%, 100%);
}
.cart-modal__title {
  font-weight: 700;
  padding: 24px 24px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.cart-modal__chekout-container {
  padding: 24px;
}
.cart-modal__details-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
  color: hsl(219, 9%, 45%);
}
.cart-modal__image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.cart-modal__price span {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.cart-modal__delete:hover {
  cursor: pointer;
}
.cart-modal__chekount {
  background-color: hsl(201, 88%, 25%);
  width: 100%;
  height: 57px;
  border-radius: 10px;
  border: none;
  color: hsl(0, 0%, 100%);
  font: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cart-modal__chekount:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal-gallery__background {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  display: none;
  place-content: center;
}
.modal-gallery__close-container {
  text-align: center;
  height: 50px;
  margin-left: 580px;
}
.modal-gallery__close {
  width: 20px;
}
.modal-gallery__close:hover {
  cursor: pointer;
  content: url(icon-close\ white.svg);
}
.modal-gallery__image-container {
  background-image: url(image-product-1.jpg);
  width: 500px;
  height: 500px;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 32px;
  margin-left: 250px;
  position: relative;
  place-content: center;
}
.modal-gallery__thumnails {
  display: flex;
  gap: 15px;
  place-content: center;
}
.modal-gallery__thumnail {
  width: 90px;
  border-radius: 19px;
}
.modal-gallery__thumnail:hover {
  cursor: pointer;
  border: 2px solid hsl(201, 88%, 25%);
}
.modal-gallery__previus {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 230px;
  left: -15px;
}
.modal-gallery__previus:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .modal-gallery__previus {
    display: block;
  }
}
.modal-gallery__next {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 230px;
  left: 480px;
}
.modal-gallery__next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .modal-gallery__next {
    display: block;
  }
}

/*iniciamos con el contenedor general*/
.main-container {
  width: 375px;
  margin: auto;
  position: relative;
  /*nesting del apartado resposinve*/
}
@media (min-width: 1115px) {
  .main-container {
    width: 1115px;
  }
}

@media (min-width: 1115px) {
  .content {
    display: flex;
    padding: 90px 50px;
    gap: 124px;
  }
}

.show {
  display: block;
}

