/*apartado para el estilo de los prodcutos-----------------------------------------------------------------------------------------------------------*/
/*header de la pagina de los prodcutos*/
.headerproductos{margin:auto;}

/*menu del logo*/
#menuproducto {display: none;}/*dirección del menú*/

/*apartado de la cabecera*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans',sans-serif;
}
/*heaber nuevo*/
:root
{
    --primary-color: #c7a17a;
    --background-color:#f9f5f0;
    --dark-color:#000;
}

html
{
    font-size: 62.5%;
    font-family:sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILIDADES*/

.container 
{
    max-width: 120rem;
    margin: 0 auto;

}

/*HEADER*/

.container-hero
{
    background-color: var(--dark-color);
}

.hero
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    color: #fff;
}

.customer-support
{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i 
{
    font-size: 3.3rem;
    color: #fff;
}

.content-customer-support
{
    display: flex;
    flex-direction: column;
}

.container-logo
{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i 
{
    font-size: 3rem;
    color: #fff;
}

.container-logo h1  a
{
    text-decoration: none;
    color:white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user
{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    color: #fff;
}

.container-user .fa-user
{
    font-size: 3rem;
    color:white;
    padding-right: 2.5rem;
   
}

.container-user .fa-list
{
    font-size: 3rem;
    color:white;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping
{
    font-size: 3rem;
    color: white;
    padding-left: 1rem;
}
/*APARTADO FORM*/


.form
{
    width:340px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;position:relative
}

h2
{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}

input
{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

input:focus
{
    border-bottom:2px solid #78788c
}

p:before
{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}

button
{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}

button:hover
{
    background:#78788c;
    color:#fff
}

.div-form
{
    content:'Hi';
    position:absolute;
    bottom:-15px;
    right:-20px;
    background:#50505a;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000
}

span
{
    margin:0 5px 0 15px
}