/*Inicio de carrito */
@use 'variables' as v;
:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: hsl(0, 0%, 89%);
    --clr-red: #961818;

    --primary-color: #c7a17a;
    --background-color:#f9f5f0;
    --dark-color:#000;

    --fondo-degradado:linear-gradient(to right,#085078,#85d8ce);/*color de fondo*/
    --principal-color:hsl(201, 88%, 25%);
    --color-segundario:rgb(133,216,206);
    --principal-color-light:hsl(201, 89%, 29%);
}
/*HEADER*/

.container-hero{
    background-color:v.$Black;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: #fff;
}
.customer-support{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2.5rem;
    & i {
        font-size: 2rem;
        color:v.$White;
    }
}
.content-customer-support{
    display: flex;
    flex-direction: column;
}
.container-logo{
    display: flex;
    align-items: center;
    gap: .5 rem;
    & i{
        font-size: 2rem;
        color: #fff;
    }
    & h1 a{
        text-decoration: none;
        color:white;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
}
.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    color: v.$White;
    & .fa-user{
        font-size: 2rem;
        color:v.$White;
        padding-right: .5rem;
        border-right: 1px solid #e2e2e2;
    }
    & .fa-list{
        font-size: 2rem;
        color:v.$White;
        padding-right: .5rem;
        border-right: 1px solid #e2e2e2;
    }
    & .fa-basket-shopping{
        font-size: 2rem;
        color:v.$White;
    }
}
.content-shopping-cart{
    display: flex;
    flex-direction: column;
    color: v.$White;
}
.text,.number{
    font-size: small;
}
/*Apartado lateral de las categorias--------------------------------------*/

/*contenedor principal */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color:v.$PrincipalTransition;
}
aside {
    padding: 2rem;
    padding-right: 0;
    color:v.$White;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo {
    font-weight: 400;
    font-size: 1.3rem;
    & a {
        color:v.$White;
        &:hover{
            color:v.$Black;
            border-bottom: 0.2rem solid v.$Black;
        }
    }
}
.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
    & .cative{
        background-color: v.$White;
        color: v.$PrincipalTransition;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        position: relative;
        &::before{
            content:'';
            position: absolute;
            width: 1rem;
            height: 1rem;
            bottom: 100%;
            right: 0;
            background-color: transparent;
            border-bottom-right-radius: .5rem;
            box-shadow: 0 1rem 0 v.$White;
        }
        &::after{
            content: '';
            position:absolute;
            width: 1rem;
            height: 2rem;
            top: 100%;
            right: 0;
            background-color: transparent;
            border-top-right-radius: .5rem;
            box-shadow:0 -1rem 0 v.$White;
        }
    }
}
.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}
.boton-carrito {
    margin-top: 2rem;
    & .active .numerito{
        background-color: v.$PrincipalTransition;
        color: v.$White;
    }
}
.numerito {
    background-color:v.$White;
    color:v.$PrincipalTransition;
    padding: .15rem .25rem;
    border-radius: .25rem;
}
.texto-footer {
    color: v.$White;
    font-size: .85rem;
}
main {
    background-color:v.$White;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}
.titulo-principal {
    color: v.$PrincipalTransition;
    margin-bottom: 2rem;
}
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles {
    background-color: v.$PrincipalTransition;
    color: v.$White;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.producto-titulo {
    font-size: 1rem;
}
.producto-agregar {
    border: 0;
    background-color: v.$White;
    color: v.$PrincipalCover;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid v.$White;
    transition: background-color .2s, color .2s;
}
.producto-agregar:hover {
    background-color: v.$PrincipalTransition;
    color: v.$White;
}
/** CARRITO **/
.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-vacio{
    & .carrito-comprado{
        color:v.$PrincipalTransition;
    }
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$TextoLight;
    color: v.$PrincipalTransition;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}
.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}
.carrito-producto small {
    font-size: .75rem;
}
.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: v.$ElementRed;
    cursor: pointer;
}
.carrito-acciones {
    display: flex;
    justify-content: space-between;
}
.carrito-acciones-vaciar {
    border: 0;
    background-color: v.$TextoLight;
    padding: 1rem;
    border-radius: 1rem;
    color: v.$PrincipalTransition;
    text-transform: uppercase;
    cursor: pointer;
}
.carrito-acciones-derecha {
    display: flex;
}
.carrito-acciones-total {
    display: flex;
    background-color: v$TextoLight;
    padding: 1rem;
    color: v.$PrincipalTransition;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color:v.$PrincipalTransition;
    padding: 1rem;
    color: v.$White;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.header-mobile {
    display: none;
}
.close-menu {
    display: none;
}
.disabled {
    display: none;
}
/*** MEDIA QUERIES ***/
@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color:v.$PrincipalTransition;
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: v.$TextoLight;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: v.$TextoLight;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}
@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}
