/*invocamos las variables*/
@use 'variables' as v;

/*ESTILOS GENERALES*/

.footer__productos {
	background-color:#000;
    &__content{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 3rem;
    }
}
.footer__menu--prod {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}
.contact-info{
    display: flex;
	flex-direction: column;
	gap: 2rem;
& ul{
        display: flex;
	    flex-direction: column;
	    gap: 1rem;
    & li{
        list-style: none;
        color:v.$White;
        font-size: 1.4rem;
        font-weight: 300;
    & a{
            text-decoration: none;
	        color: v.$White;
	        font-weight: 300;
        &:hover{
                color: v.$Principal;    
                }
            }
        }
    }
}
.information{
    display: flex;
	flex-direction: column;
	gap: 2rem;
& ul{
        display: flex;
	    flex-direction: column;
	    gap: 1rem;
    & li{
            list-style: none;
	        color: v.$White;
	        font-size: 1.4rem;
	        font-weight: 300;
        & a{
                text-decoration: none;
	            color: v.$White;
	            font-weight: 300;
            &:hover{
                    color: v.$Principal;
                }
            }
        }
    }
}
.my-account{
    display: flex;
	flex-direction: column;
	gap: 2rem;
& ul{
        display: flex;
	    flex-direction: column;
	    gap: 1rem;
    & li{
            list-style: none;
	        color: v.$White;
	        font-size: 1.4rem;
	        font-weight: 300;
        & a{
                text-decoration: none;
	            color: v.$White;
	            font-weight: 300;
            &:hover{
                    color: v.$Principal;
                }
            }
        }
    }
}
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
    color:v.$White;
}
.social-icons {
	display: flex;
	gap: 1.5rem;
& span{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    & i{
            color: #fff;
            font-size: 1.2rem;
        }
    }
}

.facebook {
	background-color: #3b5998;
}
.twitter {
	background-color: #00acee;
}
.youtube {
	background-color: #c4302b;
}
.pinterest {
	background-color: #c8232c;
}
.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}
.content p {
	font-size: 1.4rem;
	color:v.$White;
	font-weight: 300;
}
.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color:v.$Black;
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}
.content input::-webkit-input-placeholder {
	color:v.$White;
}
.content button {
	border: none;
	background-color:v.$Principal;
	color:v.$White;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
&:hover {
        background-color: v.$PrincipalTransition;
        color: v.$White;
    }
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	border-top: 1px solid #d2b495;
& p {
        font-weight: 400;
        font-size: 1.6rem;
        color: v.$White-light;
    }
}

