/*invocamos las variables*/
@use 'variables' as v;

/*header de la pagina de los prodcutos*/
.headerproductos{margin:auto;}

/*menu del logo*/
#menuproducto {display: none;}/*dirección del menú*/

/*apartado de la cabecera*/

body {
    font-family: 'PT Sans',sans-serif;
    
}
html
{
    font-size: 62.5%;
    font-family:sans-serif;
}
/*ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans',sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*estilos para el heder de los productos*/
.productos
{
    background-color:v.$Black;
    &__hero{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        color:v.$White;
    }
&__customer--support{
    display: flex;
    align-items: center;
    gap: 2rem;
    }
&__customer--support i{
    font-size: 3.3rem;
    color:v.$White;
    }
&__content--customer--support{
    display: flex;
    flex-direction: column;
    }
&__logo{
    display: flex;
    align-items: center;
    gap: .5 rem;
    }
&__logo i{
    font-size: 3rem;
    color: v.$White;
    }
&__logo h1  a{
    text-decoration: none;
    color:v.$White;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    }
&__user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    color: v.$White;
    }
&__user .fa-list{
    font-size: 3rem;
    color:v.$White;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
    }
&__user .fa-user{
    font-size: 3rem;
    color:v.$White;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
    }
&__user .fa-basket-shopping{
        font-size: 3rem;
        color: v.$White;
        padding-left: 1rem;
    }
&__content-shopping-cart{
    display: flex;
    flex-direction: column;
    color: v.$White;
    }
&__navbar{
    background-color:v.$PrincipalOpacity;
    }
&__content--navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
&__content--navbar .fa-bars {
        display: none;
    }
&__menu{
        display: flex;
        gap: 2rem;
    }
&__menu li {
        list-style: none;   
    }
&__menu a {
        text-decoration: none;
        font-size: 1.3rem;
        color:v.$Black;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
    }
&__menu a::after {
        content: '';
        width: 1.5rem;
        height: 1px;
        background-color:v.$White;
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%, 50%);
        opacity: 0;
        transition: all 0.3s ease;
    }
&__menu a:hover::after {
        opacity: 1;
    }    
&__menu a:hover {
        color:#ffffff;
    }
&__search--form{
        position: relative;
        display: flex;
        align-items: center;
        border: 2px solid white;
        border-radius: 2rem;
        background-color: #fff;
        height: 4.4rem;
        overflow: hidden;
    }
&__search--form input 
    {
        outline: none;
        font-family: inherit;
        border: none;
        width: 25rem;
        font-size: 1.4rem;
        padding: 0 2rem;
        color: #777;
        cursor: pointer;
    }
&__search--form input::-webkit-search-cancel-button{
        appearance: none;   
    }
&__btn-search{
        border: none;
        background-color:v.$PrincipalOpacity;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 1rem;
}
&__btn-search i  {
    font-size: 2rem;
    color: v.$White;
    }
}





