@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap");
/*tipo de fuente*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap");
/*invocamos las variables*/
/*ESTILOS EN EL CONTENEDOR PRIMARIO*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: center;
  align-items: center;
  background-image: url(img_fondo_blacklabel.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  min-height: 70vh;
  /*estilos menu*/
  /*estilos logo0*/
  /*estilos en el navbar*/
  /*estilos parte media del header*/
  /*parrafo al interior*/
  /*estilos para el boton*/
  /*estilos para la imagen*/
}
.header__menu {
  align-items: center;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  justify-content: space-between;
}
.header__logo {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.header__navbar ul li {
  position: relative;
  float: left;
}
.header__navbar ul li a {
  font-size: 18px;
  padding: 16px;
  color: hsl(0, 0%, 100%);
  display: block;
  font-weight: 400;
  /*estilos hover*/
}
.header__navbar ul li a:hover {
  color: hsl(194, 100%, 15%);
}
.header__medio h1 {
  font-size: 80px;
  line-height: 90px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: hsla(194, 100%, 15%, 0.85);
}
.header__medio p {
  font-size: 39px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 25px;
}
.header__btn-1 {
  background-color: hsl(194, 100%, 15%);
  padding: 10px 15px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 18px;
  font-family: Open Sans;
  border-radius: 30px;
  /*estilos hover en el boton*/
}
.header__btn-1:hover {
  background-color: hsl(194, 95%, 25%);
}
.header__img {
  position: absolute;
  top: 400px;
  width: 100%;
  height: 30%;
  z-index: 2;
  padding-bottom: 1rem;
}

/*invocamos las variables*/
/*contenedor del medio*/
.informacion {
  margin-top: 5%;
  margin-bottom: 2%;
  position: relative;
  padding: 200px 100px;
  text-align: center;
  /*contenido al interior*/
  /*titulos */
  /*textos en el interior*/
  /*contenedor de dirección*/
  /*separador*/
}
.informacion__content {
  text-align: center;
}
.informacion__titulo--primario {
  font-size: 70px;
  line-height: 70px;
  color: hsl(228, 5%, 21%);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.informacion__txt {
  padding-top: 1.8rem;
  font-size: 25px;
  font-weight: 700;
  color: hsl(230, 4%, 27%);
  margin-bottom: 35px;
}
.informacion__blog--content {
  display: flex;
  justify-content: space-between;
}
.informacion__blog--descripccion {
  padding: 1px 25px;
}
.informacion__titulo--segundario {
  font-size: 22px;
  padding-bottom: 1rem;
  color: hsl(228, 5%, 21%);
}
.informacion__txt--complementaria {
  font-size: 18px;
}
.informacion__separador {
  height: 5px;
  width: 15%;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 105px;
}

/*INVOCAMOS LAS VARIABLES*/
/*estilos para el footer principal*/
.footer {
  height: 55%;
  padding: 100px 100px;
  background-image: url("img_footerBlackLabel.jpg");
  /*contenido del footer*/
  /*titulos del footer*/
  /*links que se encuentran dentro del footer*/
}
.footer__content {
  padding-top: 10rem;
  display: flex;
  justify-content: space-between;
}
.footer__link h3 {
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
}
.footer__link a {
  font-size: 16px;
  color: #c5c5c5;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

/*invocamos las variables*/
/*header de la pagina de los prodcutos*/
.headerproductos {
  margin: auto;
}

/*menu del logo*/
#menuproducto {
  display: none;
} /*dirección del menú*/
/*estilos para el heder de los productos*/
.productos {
  background-color: hsl(0, 0%, 0%);
}
.productos__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  color: hsl(0, 0%, 100%);
}
.productos__customer--support {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.productos__customer--support i {
  font-size: 3.3rem;
  color: hsl(0, 0%, 100%);
}
.productos__content--customer--support {
  display: flex;
  flex-direction: column;
}
.productos__logo {
  display: flex;
  align-items: center;
  gap: 0.5 rem;
}
.productos__logo i {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
}
.productos__logo h1 a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.productos__user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}
.productos__user .fa-list {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  padding-right: 2.5rem;
  border-right: 1px solid #e2e2e2;
}
.productos__user .fa-user {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  padding-right: 2.5rem;
  border-right: 1px solid #e2e2e2;
}
.productos__user .fa-basket-shopping {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  padding-left: 1rem;
}
.productos__content-shopping-cart {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
}
.productos__navbar {
  background-color: hsla(194, 100%, 15%, 0.85);
}
.productos__content--navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.productos__content--navbar .fa-bars {
  display: none;
}
.productos__menu {
  display: flex;
  gap: 2rem;
}
.productos__menu li {
  list-style: none;
}
.productos__menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.productos__menu a::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}
.productos__menu a:hover::after {
  opacity: 1;
}
.productos__menu a:hover {
  color: #ffffff;
}
.productos__search--form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 2rem;
  background-color: #fff;
  height: 4.4rem;
  overflow: hidden;
}
.productos__search--form input {
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: #777;
  cursor: pointer;
}
.productos__search--form input::-webkit-search-cancel-button {
  appearance: none;
}
.productos__btn-search {
  border: none;
  background-color: hsla(194, 100%, 15%, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}
.productos__btn-search i {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

/*invocamos las variables*/
/*slider que esta en la pagina de los productos------------------------------------------------------------------------------------------------------------------------------*/
.slidersec {
  display: flex;
  min-height: 100vh;
  background-image: url(img_fondo_blacklabel.jpg);
}

.container-slider {
  width: 2000px;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 0 5px #fff, 0 25px 60px;
  position: relative;
  box-shadow: 0px 0px 40px rgb(8, 80, 120);
}

.slider {
  display: flex;
  width: 500%;
  height: 500px;
  margin-left: -100%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn:hover {
  background: #fff;
}

.slider__btn--left {
  left: 10px;
}

.slider__btn--right {
  right: 10px;
}

/* TARJETAS DE RECOMENDACIONES*/
.productos__medio {
  padding: 1rem;
}

.productos__cual--features {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 3rem 0;
}

.card-feature {
  border: 6px solid hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  padding: 1.5rem 0;
}
.card-feature:hover {
  cursor: pointer;
  border-bottom: 4px solid hsl(194, 95%, 25%);
}

.card-feature i {
  font-size: 3rem;
  color: hsla(194, 100%, 15%, 0.85);
}

.features-content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  text-align: center;
}
.features-content span {
  font-weight: 700;
  font-size: 1.7rem;
  color: hsl(0, 0%, 8%);
}
.features-content p {
  color: hsl(230, 4%, 27%);
  font-weight: 500;
}

/*APARTADO DE LAS CATEGORIAS*/
.top__categories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

.heading-1 {
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
}

.container-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card-category {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 2rem;
}
.card-category p {
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
  position: relative;
}
.card-category p::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 50%);
}
.card-category span {
  font-size: 1.9rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.card-category span:hover {
  color: hsl(201, 88%, 25%);
  border-bottom: 3px solid hsl(201, 88%, 25%);
}

.category-element1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5019607843), rgba(0, 0, 0, 0.5019607843)), url("img_monitor.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.category-element2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5019607843), rgba(0, 0, 0, 0.5019607843)), url("img_mesaelectronica.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.category-element3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5019607843), rgba(0, 0, 0, 0.5019607843)), url("img_switch.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*APARATADO PRODUCTOS*/
.top-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.container-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.container-options span {
  color: hsl(0, 0%, 47%);
  background-color: hsl(0, 0%, 100%);
  padding: 0.7rem 3rem;
  font-size: 1.9rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}
.container-options span:hover {
  background-color: hsl(194, 95%, 25%);
  color: hsl(0, 0%, 100%);
}
.container-options span.active {
  background-color: hsl(194, 95%, 25%);
  color: hsl(0, 0%, 100%);
}

/* Products */
.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 3rem;
}

.card-product {
  border: 3px solid hsl(194, 95%, 25%);
  background-color: hsl(0, 0%, 100%);
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgb(0, 0, 0);
  transition: all 600ms ease;
}
.card-product:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translatey(-3%);
}

.container-img {
  position: relative;
}
.container-img img {
  width: 100%;
}
.container-img .discount {
  position: absolute;
  left: 0;
  background-color: hsl(194, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 2px 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}
.container-img .discount:hover {
  background-color: hsl(201, 88%, 25%);
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: -1;
  transition: all 0.6s ease;
}
.button-group span {
  border: 1px solid hsl(201, 88%, 25%);
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.6s ease;
}
.button-group span:hover {
  background-color: hsl(194, 100%, 15%);
}
.button-group span i {
  font-size: 1.5rem;
  color: hsl(194, 100%, 15%);
}
.button-group span i:hover {
  color: hsl(0, 0%, 100%);
}

.card-product:hover .button-group {
  z-index: 0;
  right: -1rem;
}

.content-card-product {
  padding-top: 2rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 0.5rem;
}
.content-card-product h3 {
  grid-row: 2/3;
  grid-column: 1/-1;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.content-card-product h3:hover {
  color: hsl(194, 95%, 25%);
}
.content-card-product .price {
  justify-self: end;
  align-self: center;
  font-size: 1.7rem;
  font-weight: 600;
}
.content-card-product .price span {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: line-through;
  color: hsl(0, 0%, 47%);
  margin-left: 0.5rem;
}

.stars {
  grid-row: 1/2;
  grid-column: 1/-1;
}
.stars i {
  font-size: 1.3rem;
  color: hsl(194, 100%, 15%);
}

.add-cart {
  justify-self: start;
  border: 2px solid hsl(194, 100%, 15%);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-cart:hover {
  background-color: hsl(194, 100%, 15%);
}
.add-cart i {
  font-size: 1.5rem;
  color: hsl(194, 100%, 15%);
}
.add-cart:hover i {
  color: hsl(0, 0%, 100%);
}

/* GALERIA DE IMAGENES*/
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 30rem);
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-img-3 {
  grid-column: 2/4;
  grid-row: 1/3;
}

.conte {
  width: 100%;
  max-width: 1100px;
  height: 1px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.conte .card {
  width: 330px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.conte .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.conte .card img {
  padding: 25px;
  width: 200px;
  height: 120px;
}
.conte .card h1 {
  font-weight: 600;
}
.conte .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.conte .card a {
  font-weight: 500;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

/*invocamos las variables*/
/*ESTILOS GENERALES*/
.footer__productos {
  background-color: #000;
}
.footer__productos__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem;
}

.footer__menu--prod {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 30rem;
  gap: 3rem;
  justify-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-info ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-info ul li {
  list-style: none;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 300;
}
.contact-info ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}
.contact-info ul li a:hover {
  color: hsl(194, 100%, 15%);
}

.information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.information ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.information ul li {
  list-style: none;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 300;
}
.information ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}
.information ul li a:hover {
  color: hsl(194, 100%, 15%);
}

.my-account {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.my-account ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.my-account ul li {
  list-style: none;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 300;
}
.my-account ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}
.my-account ul li a:hover {
  color: hsl(194, 100%, 15%);
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title-footer {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}

.social-icons {
  display: flex;
  gap: 1.5rem;
}
.social-icons span {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons span i {
  color: #fff;
  font-size: 1.2rem;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #00acee;
}

.youtube {
  background-color: #c4302b;
}

.pinterest {
  background-color: #c8232c;
}

.instagram {
  background: linear-gradient(#405de6, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #fcaf45);
}

.content p {
  font-size: 1.4rem;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}

.content input {
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #d2b495;
  cursor: pointer;
  padding: 0.5rem 0 1.2rem;
  color: hsl(0, 0%, 0%);
  display: block;
  margin-bottom: 3rem;
  margin-top: 2rem;
  width: 100%;
  font-family: inherit;
}

.content input::-webkit-input-placeholder {
  color: hsl(0, 0%, 100%);
}

.content button {
  border: none;
  background-color: hsl(194, 100%, 15%);
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
}
.content button:hover {
  background-color: hsl(201, 88%, 25%);
  color: hsl(0, 0%, 100%);
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid #d2b495;
}
.copyright p {
  font-weight: 400;
  font-size: 1.6rem;
  color: hsl(0, 0%, 100%);
}

/*Inicio de carrito */
:root {
  --clr-main: #4b33a8;
  --clr-main-light: #785ce9;
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  --clr-red: #961818;
  --primary-color: #c7a17a;
  --background-color:#f9f5f0;
  --dark-color:#000;
  --fondo-degradado:linear-gradient(to right,#085078,#85d8ce); /*color de fondo*/
  --principal-color:rgb(8, 80,120);
  --color-segundario:rgb(133,216,206);
  --principal-color-light:rgb(8, 94, 141);
}

/*HEADER------------------------------------------------------------------------------------------------------------------------------*/
.container-hero {
  background-color: var(--dark-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: #fff;
}

.customer-support {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2.5rem;
}

.customer-support i {
  font-size: 2rem;
  color: white;
}

.content-customer-support {
  display: flex;
  flex-direction: column;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5 rem;
}

.container-logo i {
  font-size: 2rem;
  color: #fff;
}

.container-logo h1 a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  color: #fff;
}

.container-user .fa-user {
  font-size: 2rem;
  color: white;
  padding-right: 0.5rem;
  border-right: 1px solid #e2e2e2;
}

.container-user .fa-list {
  font-size: 2rem;
  color: white;
  padding-right: 0.5rem;
  border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
  font-size: 2rem;
  color: white;
}

.content-shopping-cart {
  display: flex;
  flex-direction: column;
  color: white;
}

.text, .number {
  font-size: small;
}

/*Apartado lateral de las categorias--------------------------------------*/
/*contenedor principal */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--principal-color);
}

aside {
  padding: 2rem;
  padding-right: 0;
  color: var(--clr-white);
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-weight: 400;
  font-size: 1.3rem;
}

.logo a {
  color: var(--clr-white);
}

.logo a:hover {
  color: var(--dark-color);
  border-bottom: 0.2rem solid var(--dark-color);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.boton-menu {
  background-color: transparent;
  border: 0;
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 0.85rem;
  width: 100%;
}

.boton-menu.active {
  background-color: var(--clr-white);
  color: var(--principal-color);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.boton-menu.active::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
  transform: rotateZ(90deg);
}

.boton-carrito {
  margin-top: 2rem;
}

.numerito {
  background-color: var(--clr-white);
  color: var(--principal-color);
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
}

.boton-carrito.active .numerito {
  background-color: var(--principal-color);
  color: var(--clr-white);
}

.texto-footer {
  color: var(--clr-white);
  font-size: 0.85rem;
}

main {
  background-color: var(--clr-white);
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}

.titulo-principal {
  color: var(--principal-color);
  margin-bottom: 2rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
}

.producto-detalles {
  background-color: var(--principal-color);
  color: var(--clr-white);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.producto-titulo {
  font-size: 1rem;
}

.producto-agregar {
  border: 0;
  background-color: var(--clr-white);
  color: var(--principal-color-light);
  padding: 0.4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--clr-white);
  transition: background-color 0.2s, color 0.2s;
}

.producto-agregar:hover {
  background-color: var(--principal-color);
  color: var(--clr-white);
}

/** CARRITO **/
.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
  color: var(--principal-color);
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-gray);
  color: var(--principal-color);
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: 0.75rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--clr-gray);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--principal-color);
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--clr-gray);
  padding: 1rem;
  color: var(--principal-color);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: var(--principal-color);
  padding: 1rem;
  color: var(--clr-white);
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.header-mobile {
  display: none;
}

.close-menu {
  display: none;
}

.disabled {
  display: none;
}

/*** MEDIA QUERIES ***/
@media screen and (max-width: 850px) {
  .contenedor-productos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 675px) {
  .contenedor-productos {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  aside {
    position: fixed;
    z-index: 9;
    background-color: var(--principal-color);
    left: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }
  .aside-visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .boton-menu.active::before,
  .boton-menu.active::after {
    display: none;
  }
  main {
    margin: 1rem;
    margin-top: 0;
    padding: 2rem;
  }
  .contenedor-productos {
    grid-template-columns: 1fr 1fr;
  }
  .header-mobile {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-mobile .logo {
    color: var(--clr-gray);
  }
  .open-menu, .close-menu {
    background-color: transparent;
    color: var(--clr-gray);
    border: 0;
    font-size: 2rem;
    cursor: pointer;
  }
  .close-menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .carrito-producto {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.5rem;
  }
  .carrito-producto-subtotal {
    display: none;
  }
  .carrito-acciones {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .contenedor-productos {
    grid-template-columns: 1fr;
  }
}
/*ESTILOS GENERALES*/
body {
  font-family: "PT Sans", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*UTILIDADES------------------------------------------------------------------------------------------------------------------------------*/
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

/*# sourceMappingURL=main.css.map */
