@use 'ini--header';
@use 'ini--informacion';
@use 'ini--footer';
@use 'vis--productos';
@use 'vis--productos--informacion';
@use 'vis--productos--footer';
@use 'vis--CarritoCompras--informacion';


/*tipo de fuente*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;600;700&display=swap');
/*ESTILOS GENERALES*/
body {
    font-family: 'PT Sans',sans-serif;   
}
html{
    font-size: 62.5%;
    font-family:sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans',sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*UTILIDADES------------------------------------------------------------------------------------------------------------------------------*/

.container 
{
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1
{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

